* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple-dark: #13111b;
  --purple-dark-2: #191622;
  --purple-dark-3: #0c0b12;
  --purple-light: #988bc7;

  --light-gray: #e1e1e6;
  --gray-200: #afb2b1;

  --green-500: #04d361;

  --purple-300: #9f75ff;
  --purple-400: #9164fa;
  --purple-500: #8257e5;
  --purple-800: #6f48c9;
}

@media (max-width: 1500px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 65%;
  }
}

body {
  background: var(--purple-dark-2);
}

body,
input,
textarea,
button {
  font: 500 1rem Inter, sans-serif;
  color: var(--purple-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: Lexend, sans-serif;
  color: var(--light-gray);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}
